
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(209, 201, 201, 0.801);
}


.container {
  max-width: 1200px;
  background-color:  rgba(228, 228, 228, 0.877) ;
  border-radius: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

nav {
  grid-column: 1 / 4;
  grid-row: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-right: 50px;

}

.logo {
    padding-top: 10px;
  }
  .marca {
    width: 40px;
  }
  nav .logo a {
    font-size: 30px;
  
    color: #424949;
    text-decoration: none;
  }
  
  nav .menu {
    color: #424949;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  nav .menu ul {
    height: 100%;
  }
  
  nav .menu li {
    align-items: center;
  }
  .btn-search {
    background: none;
    border: none;
    cursor: pointer;
    color: #424949;
  }
  nav .menu li i {
    text-decoration: none;
    height: 100%;
    width: 23px;
    font-size: 23px;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-input {
    padding-left: 20px;
    border: 1px solid #ccc;   
    border-radius: 5px; 
    font-size: 16px; 
    height: 36px;  
    width: 300px;  
    box-sizing: border-box;   
    border-color: #424949;
  }
  
  input[type="text"]:focus {
    border: 2px solid #424949;
  
    border-color: #424949;
    outline: none;  
  }
  input[type="text"]::placeholder {
    color: #424949;  
  }
  
  .btn-search {
  
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    width: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor:default ;
  }



  #city-results {
    padding-left: 0;
    max-width: 300px;
    position: absolute;
    margin-top: 10px;
    flex-direction: column;
    z-index: 3;
  }
  
  .liAparece {
    list-style: none;
    height: 100%;
    background-color: #441b1b;
    color: white;
    user-select: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .liAparece:hover {
    background-color: #424949;
  }
  
  .min {
    color: rgba(0, 0, 0, 0.856);
  }
  
  .max {
    color: rgba(255, 0, 0, 0.829);
  }
   
 
.contenedorImg {
  grid-column: 1 / 4;
  grid-row: 2;
 
}

.date {
  grid-column: 1 /2;
  grid-row: 3;
 
}

.post {
  grid-column: 2 / 4  ;
  grid-row: 3;
  
}

@media (max-width: 600px) {
    .nav.cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
      }
      .search-container {
       margin: 0 auto;
      }
      .post{
        grid-column: 1 / 4;
        grid-row: 4;
    }
    .date{
        grid-column: 1 / 4;
        grid-row: 3;
    }


     .block-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
    
}

 
